doctype html

html
  head
    title Would you Rather app
    link(rel="stylesheet", href="./components/style.css")

  body
    h1 Think twice before making your choice

    div#root
    script(src="./bundle.js")
